.env
__pycache__/
*.py[cod]
.pytest_cache/
data/app.db
data/video_catalog.html
data/final_videos/
data/audio/*
!data/audio/.gitkeep
data/videos/*
!data/videos/.gitkeep
data/materials/*
!data/materials/.gitkeep
.idea/
